@page
@model Educational_platform.Pages.Error403
@{
    ViewData["Title"] = "Restricted Access";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>Ha-ha!</h1>
    <p>Ba-a-aka-a-a... Not a path you shall go.</p>
</div>